extends layout

block content
  p Math.pow() applied to #{x} to power 3 is #{pow}
  p Math.sign() applied to #{x} is #{sign}
  p Math.tanh() applied to #{x} is #{tanh}
  p Math.trunc() applied to #{x} is #{trunc}